BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(assert|ctype|errno|float|limits|locale|math|setjmp|signal|stdarg|stddef|stdint|stdio|stdlib|string|time|wchar|wctype|unistd|fcntl|sys/[^>]+)\.h>'
    CaseSensitive: true
    Priority: 1
  - Regex: '^<[a-z_0-9]+>$'
    CaseSensitive: true
    Priority: 2
  - Regex: '^<'
    CaseSensitive: true
    Priority: 3
  - Regex: '^"edit_atlas/'
    CaseSensitive: true
    Priority: 4
  - Regex: '^"[^/]+\.hpp"'
    CaseSensitive: true
    Priority: 4
  - Regex: '^"'
    CaseSensitive: true
    Priority: 3
